.tg  {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
}
.tg td{
	font-family:NanumGothic;
	font-weight: bold;
	font-size:10px;
	border-style:none;
	overflow:hidden;
	word-break:normal;
}
.tg .tg-cell{
	text-align: center;
	font-size: 10pt;
	width: 32px;
	height: 32px;
}
.tg-cell.tg-land {
	border-style:solid;
	border-width:1px;
}
#c-3-5,#c-4-7,#c-6-4,#c-17-12,#c-16-10,#c-25-4 {
	font-size: 8pt;
}